.FileUpload {
  background-color: rgb(194, 123, 16);
  color:black;
  margin-bottom: 25px;
  padding: 20px 20px 15px;
  text-align: center;
}

.Imagen {
  background-color: rgb(194, 16, 16);
  color:black;
  margin-bottom: 25px;
  padding: 20px 20px 15px;
  text-align: center;
}

