.App {
  background-color: rgb(104, 48, 48);
  padding: 2px;

  
}

.App-intro {
  color: rgb(255, 255, 255);
  font-size: large;
  font-weight: bold;
  padding: 0px ;
  text-align: center;
  
}

.App-subintro {
  color: rgb(102, 86, 86);
  font-size: large;
  font-weight: bold;
}